---
title: Stockfiller API Docs

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  - <a href='mailto:tech@stockfiller.com'>Mail us for a Developer Key</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  - json_api.md.erb
  - errors.md.erb

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Stockfiller API
---

# Introduction

This is the Stockfiller API used to fetch and maintain orders and their underlying products. This REST API is based on [JSON:API](https://jsonapi.org/) specifications. JSON:API terms will be used throughout the documentation and you can *[read more about them here](#json-api)*.

# Authentication

> All your calls must be authorized using:

```shell
# With shell, you simply pass the Authorization header with each request
curl "<%= config[:endpoint] %>example" \
  -H "Authorization: Bearer <%= config[:example_token] %>"
```

> Make sure to replace `<%= config[:example_token] %>` with your given API key.

Stockfiller uses API keys to allow access to the API. You can contact us for a new API key at our [mail](mailto:tech@stockfiller.com).

Stockfiller expects for the API key to be included in all API requests to the server in a header that looks like the following:

`Authorization: Bearer <%= config[:example_token] %>`

<aside class="notice">
You must replace <code><%= config[:example_token] %></code> with your given personal API key.
</aside>

# Orders

<%= partial "includes/order/get_all.md.erb" %>

<%= partial "includes/order/get.md.erb" %>
